$color-primarry: #d5bd6fa2;
$color-secondary: #b473289c;
$white-font: #fff;
$dark-gray: #cc9b6d;
$black-color: #000;
$light-orange: rgb(236, 115, 45);
$dark-orange: rgb(206, 86, 17);

$color-gray-light-1: #f7f7f7;

$grid-width: 90rem;
$gutter-vertical: 6rem;
$gutter-horzintal: 6rem;

$default-font-size: 1.6rem;
