@keyframes moveRightMain {
  0% {
    opacity: 0;
    transform: translateX(-50px) skewX(0deg);
  }

  50% {
    opacity: 0.5;
    transform: translateX(20px) skewX(-6deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) skewX(0deg);
  }
}

@keyframes moveLeftSub {
  0% {
    opacity: 0;
    transform: translate(50px) skewX(0deg);
  }

  50% {
    opacity: 0.5;
    transform: translate(-20px) skewX(4deg);
  }

  100% {
    opacity: 1;
    transform: translate(0) skewX(0);
  }
}
